.welcome-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo img {
    width: 50px;
  }
  
  .content {
    flex: 1;
    text-align: center;
  }
  
  .photo {
    max-width: 100%;
    height: auto;
    margin-top: auto;
    margin-left: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 846px; /* Adjust the width as needed */
    height: 564px; /* Adjust the height as needed */
  }
  

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    bottom: 0;
    left: 123;
  }
  
  .buttons button {
    background-color: #4FC1C2; /* Set the button background color */
    color: white; /* Set the button text color */
    font-size: 25px; /* Set the font size */
    font-family: 'Poppins', sans-serif; /* Set the font family */
    font-weight: 700; /* Set the font weight */
    word-wrap: 'break-word';
    padding: 10px 20px; /* Add some padding for better visual appearance */
    border: none; /* Remove the default button border */
    cursor: pointer; /* Show a pointer cursor on hover */
  }
  
  