.filtrage{
    position: absolute;
    width: 600px;
    height: 45px;
    margin-left: 50px;
    margin-top: 70px; 
    background: #008080;
    box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.25);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    }
    
    /* .filtrage h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 52px;
    color: #053070;
    margin-top: 5px;
    margin-left: 10px;
    
    } */
    
    
    .FilterBy , .FilterValue {
    width: 150px;
    height: 35px;
    margin-left: 40px ;
    margin-top:0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    color: #374957;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 5px;
    }
    .btnsubmit{
     align-items: center;
      margin-left: 100px;
      margin-top: 5px;
      justify-content: center;
      height: 35px;
      width:90px; 
      line-height: 40px;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    background: #E3FAFC;
    color: #374957;
    border-radius: 15px;
    }

    .btnsubmit .row:hover {
    cursor: pointer;
    background-color: #19B3B3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
  }
    
    
    @media screen and (max-width: 8px) {
      .filtrage{
    
        width: 550px;
        height: 300px;
        margin-left: 150px;
        margin-top: 50px;
          
    }
    .filtrage h3 {
      font-size: 25px;
    }
    }
    @media screen and (max-width: 490px) {
      .filtrage{
    
        width: 300px;
        height: 300px;
        margin-left: 150px;
        margin-top: 10px;
          
    }
    /* .filtrage h3 {
      font-size: 18px;
      margin-top: 15px;
    
    } */
    .communefiltre , .typefiltre ,  .wilayafiltre {
      width: 150px;
      height: 30px;
      font-size: 12px;
      margin-left: 75px;
    }
    .btnsubmit{
      height: 30px;
      width:80px;
      font-size: 12px;
      margin-left: 110px;
    
    }
    }