/* TopNavbar.css */

/* TopNavbar.css */

.top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #58d6d7;
    color: #045253;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
    margin-left: 0px; /* Add this line */
  }
    
  .left-section, .right-section {
    display: flex;
    align-items: center;
  }
    
  .user-info, .notification, .logout {
    display: flex;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
  }
 
  .logout {
    width: 110px ;
    height: 30px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    margin-right: 35px;
  }
    
  .user-info span, .notification span, .logout span {
    margin-right: 5px;
  }

  .notification:hover, .logout:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);

  }
  