
.welcome-container {
    height: 100vh;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
   background-image: url('../assets/welcomepfp.png') , url('../assets/shape.png');
   background-repeat: no-repeat, no-repeat;
   background-position:bottom right ,top left;
   background-size:auto , auto;
  }

  
  .content {
    flex: 2;
    text-align:end;
    margin-right: 10%;
    margin-bottom: 20%;
  }
  .content h1 {
    font-size: 50px;
    font-weight: bold;
    color: #374957;
  }
  .content h1 span {
    font-weight: 700;
    font-size: 100px;
    color: #4FC1C2;
  }
  .buttons h1{
    font-size: 30px;
    color: #374957; 
  }
  .buttons span{
    font-size: 35px;
    color: #4FC1C2;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    position: absolute;
    top: 65%; /* Center vertically */
    transform: translateY(-50%); /* Center vertically */
    left: 500; /* For left-side buttons */
    padding-left: 60px;
  }

  


  

  .buttons button {
    background-color: #1fadaf; /* Set the button background color */
    color: white; /* Set the button text color */
    font-size: 25px; /* Set the font size */
    font-family: 'Poppins', sans-serif; /* Set the font family */
    font-weight: 700; /* Set the font weight */
    word-wrap: 'break-word';
    padding: 10px 20px; /* Add some padding for better visual appearance */
    border: none; /* Remove the default button border */
    cursor: pointer; /* Show a pointer cursor on hover */
    border-radius: 10px;
  }

.logo img {
  display: none;
  height: 100px;
  width: auto;
  max-height: 100vh;
  max-width:100vh;
} 
  
  